{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": true,
        "targets": {
          "browsers": ["> 1%", "last 2 versions", "not ie <= 8"]
        },
        "useBuiltIns": true,
        "debug": true
      }
    ]
  ]
}